pre {
  background-color: #dedede;
  padding: 5px;
  color: #00ab8e;
  overflow-x: auto;
}
body {
  margin-left: 5em;
  background-color: #fbfbfb;
}

code {
  background-color: #f7f7f9;
  padding: 2px;
  color: #00ab8e;
  font-size: 90%;
}

h5 .material-icons {
  font-size: 18px
}

.mdl-card {
  width: 100%;
  min-height: 150px;
}
